{% extends 'base/base.html' %}
{% load static %}
{% block title %}
  Project planner | My Projects
{% endblock title  %}

{% block extracss %}
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>
{% endblock extracss %}


{% block breadcrumb %}
  <h2>My Projects</h2>
{% endblock breadcrumb %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'path/to/your/datatables.css' %}">
<script type="text/javascript" charset="utf8" src="{% static 'path/to/your/datatables.js' %}"></script>

<div class="tile">
<div class="project-list">
    {% for project in user_projects %}
    <div class="project">
        <div class="project-header">
            <h3>{{ project.title }}</h3>
            <div class="project-actions">
                <!-- <a href="{% url 'edit_project' project.id %}" class="btn btn-primary">Edit</a> -->
                <form action="{% url 'delete_project' project.id %}" method="post" style="display: inline;">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>        
        <p>Start Date: {{ project.start_date }}</p>
        <!-- Just add for delete button  -->
        <!-- <a href="{% url 'edit_project' project.id %}" class="btn btn-primary">Edit</a>
        <form action="{% url 'delete_project' project.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
        </form> -->
        <!-- <hr> -->
        {% for template in project_template %}
        <p>{{template.title }}</p>
        {% endfor %}
        <table id="taskTable_{{ forloop.counter }}" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Start On</th>
                    <th>Duration</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            
            <tbody>
                {% for task in project.tasks.all %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.start_date|date:"Y-m-d" }}</td>
                    <td>{{ task.duration }} days</td>
                    <td>
                        <form method="post" action="{% url 'toggle_task_completion' task.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm {% if task.is_actionable %}btn-success{% else %}btn-secondary{% endif %}">
                                {% if task.is_actionable %}Complete{% else %}Incomplete{% endif %}
                            </button>
                        </form>
                    </td>
                    <td>
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'delete_task' task.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>                
                {% endfor %}                  
            </tbody>
        </table>
        <div class="task-actions">
            <a href="{% url 'add_task' %}" class="btn btn-primary">Add Task</a>
            <form action="{% url 'save_project_as_template' project.id %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Save as Template" class="btn btn-primary">
            </form>            
        <!-- <hr> -->
        </div>
    </div>  
    <hr>    
    {% empty %}
        <div class="no-projects-message">
            <p>No project found.</p>
        </div>
    {% endfor %}
</div>
</div>

<script>
{% for project in user_projects %}
$(document).ready(function() {
    $('#taskTable_{{ forloop.counter }}').DataTable({
        "pagingType": "full_numbers",
        "order": []
    });
});
{% endfor %}
</script>
{% endblock %}
    
